<div ng-controller="ItemsController" ng-cloak>
  <md-content>
    <md-toolbar class="md-primary md-hue-2">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="return()">
          <i class="material-icons">keyboard_backspace</i>
        </md-button>
        <h2 flex md-truncate>Items in List: {{ listName }}</h2>
      </div>
    </md-toolbar>
  </md-content>

  <div class="padded white">
    <md-input-container md-no-float class="md-block input-search">
      <md-icon class="md-icon">
        <i class="material-icons">search</i>
      </md-icon>
      <input ng-model="itemName" type="text" placeholder="Search" >
    </md-input-container>
  </div>

  <div ng-if="itemsEmpty()">
    <p>No items left. Add some items to start...</p>
  </div>
  <md-tabs md-dynamic-height md-border-bottom" md-center-tabs="true">
    <md-tab label="Uncompleted">
      <md-content class="md-padding">
        <h1 class="md-display-2"></h1>
        <div ng-repeat="item in items | filter:itemName">
          <div ng-if="!item.completed && !item.archived">
            <div class="md-media-sm card-media right">Progress: {{ progress | number:0 }}%</div>
            <md-progress-linear md-mode="determinate" value="{{progress}}"></md-progress-linear>
            <md-card class="card" md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">{{ item.name }}</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
                <md-checkbox ng-model="item.completed" aria-label="Checkbox 1" class="top-offset" ng-click="completeItem(item)">
                  Completed
                </md-checkbox>
                <md-button class="md-icon-button" ng-click="editItem($event, item)">
                  <i class="material-icons">mode_edit</i>
                </md-button>
                <md-button class="md-icon-button" ng-click="deleteItem($event, item.id)">
                  <i class="material-icons">delete</i>
                </md-button>
              </md-card-actions>
            </md-card>
          </div>
        </div>
      </md-content>
    </md-tab>
    <md-tab label="Completed">
      <md-content class="md-padding">
        <h1 class="md-display-2"></h1>
        <div ng-repeat="item in items | filter:itemName">
          <div ng-if="item.completed && !item.archived">
            <div class="md-media-sm card-media right">Progress: {{ progress | number:0 }}%</div>
            <md-progress-linear md-mode="determinate" value="{{progress}}"></md-progress-linear>
            <md-card class="card" md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">{{ item.name }}</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
                <md-checkbox ng-model="item.completed" aria-label="Checkbox 1" class="top-offset" ng-click="completeItem(item)">
                  Completed
                </md-checkbox>
                <md-checkbox ng-model="item.archived" aria-label="Checkbox 2" class="top-offset" ng-click="archiveItem(item)">
                  Archived
                </md-checkbox>
                <md-button class="md-icon-button" ng-click="editItem($event, item)">
                  <i class="material-icons">mode_edit</i>
                </md-button>
                <md-button class="md-icon-button" ng-click="deleteItem($event, item.id)">
                  <i class="material-icons">delete</i>
                </md-button>
              </md-card-actions>
            </md-card>
          </div>
        </div>
      </md-content>
    </md-tab>
    <md-tab label="Archived">
      <md-content class="md-padding">
        <h1 class="md-display-2"></h1>
        <div ng-repeat="item in items | filter:itemName">
          <div ng-if="item.archived">
            <div class="md-media-sm card-media right">Progress: {{ progress | number:0 }}%</div>
            <md-progress-linear md-mode="determinate" value="{{progress}}"></md-progress-linear>
            <md-card class="card" md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline line">{{ item.name }}</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
                <md-checkbox ng-model="item.completed" aria-label="Checkbox 1" class="top-offset" ng-click="completeItem(item)" disabled>
                  Completed
                </md-checkbox>
                <md-checkbox ng-model="item.archived" aria-label="Checkbox 2" class="top-offset" ng-click="archiveItem(item)" disabled>
                  Archived
                </md-checkbox>
                <md-button class="md-icon-button" ng-click="editItem($event, item)" disabled>
                  <i class="material-icons">mode_edit</i>
                </md-button>
                <md-button class="md-icon-button" ng-click="deleteItem($event, item.id)">
                  <i class="material-icons">delete</i>
                </md-button>
              </md-card-actions>
            </md-card>
          </div>
        </div>
      </md-content>
    </md-tab>
  </md-tabs>

  <md-button class="md-fab md-warn md-fab-bottom-right" aria-label="FAB" ng-click="newItem($event)">
    <md-icon>
      <i class="material-icons">add</i>
    </md-icon>
  </md-button>
</div>
