<div ng-controller="ItemsController" ng-cloak>
  <md-content>
    <md-toolbar class="md-primary md-hue-2">
      <div class="md-toolbar-tools">
        <h2 flex md-truncate>Items in List: {{ listName }}</h2>
      </div>
    </md-toolbar>
  </md-content>

  <div class="padded white">
    <md-input-container md-no-float class="md-block input-search">
      <md-icon class="md-icon">
        <i class="material-icons">search</i>
      </md-icon>
      <input ng-model="itemName" type="text" placeholder="Search" >
    </md-input-container>
  </div>

  <div ng-if="itemsEmpty()">
    <p>No items left. Add some items to start...</p>
  </div>
  <div ng-repeat="item in items | filter:itemName">
    <md-card class="card" md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{ item.name }}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-icon-button" ng-click="editItem($event, item)">
          <i class="material-icons">mode_edit</i>
        </md-button>
        <md-button class="md-icon-button" ng-click="deleteItem($event, item.id)">
          <i class="material-icons">delete</i>
        </md-button>
      </md-card-actions>
    </md-card>
  </div>

  <md-button class="md-fab md-warn md-fab-bottom-right" aria-label="FAB" ng-click="newItem($event)">
    <md-icon>
      <i class="material-icons">add</i>
    </md-icon>
  </md-button>
</div>
