<div ng-controller="ListController" ng-cloak>

  <md-content>

    <br>

    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <h2 flex md-truncate>Toolbar with Disabled/Enabled Icon Buttons</h2>
      </div>
    </md-toolbar>

    <md-button class="md-fab md-warn" aria-label="FAB">
      <md-icon>
        <i class="material-icons">add</i>
      </md-icon>
    </md-button>
    
  </md-content>
</div>
